# HOMEWORK 1: Exercises for Monte Carlo Methods

## Exercise1

In [1]:
import numpy as np
import pandas as pd
import math

# throw how much(N) points
N_array = np.array([20, 50, 100, 200, 300, 500, 1000, 5000])
# repeat times
times = 20        

def estimate_pi(N):
    est_pi = []
    for i in range(times):
        x, y = np.random.random(N), np.random.random(N)
        dist = pow(x**2+y**2, 0.5)
        in_circle = (dist <= 1.0).sum()
        est_pi.append(4*in_circle/N)
    return [np.mean(est_pi), np.var(est_pi)]   

datas = []
for i in range(N_array.size):
    datas.append(estimate_pi(N_array[i]))
    
rows = [('N=%d' % (i)) for i in N_array]
pd.DataFrame(datas, columns=('mean', 'var'), index=rows)

           mean       var
N=20    3.07000  0.173100
N=50    3.13600  0.031104
N=100   3.15000  0.031340
N=200   3.13200  0.021176
N=300   3.16600  0.010444
N=500   3.16360  0.005705
N=1000  3.12860  0.002540
N=5000  3.14024  0.000415

## Exercise 2

`x` 通过均匀分布采样获得

In [2]:
import numpy as np
import pandas as pd

# sample how much(N) x
N_array = np.array([5, 10, 20, 30, 40, 50, 60, 70, 80, 100])
# repeat times
times = 20

def estimate_single_integral(N):
    est_s_i = []
    for i in range(times):
        x = np.random.random(N)
        y = x**3
        area = y*(1-0)
        est_s_i.append(area.sum()/N)
    return [np.mean(est_s_i), np.var(est_s_i)] 

datas = []
for i in range(N_array.size):
    datas.append(estimate_single_integral(N_array[i]))
rows = [('N=%d' % (i)) for i in N_array]
pd.DataFrame(datas, columns=('mean', 'var'), index=rows)

           mean       var
N=5    0.244491  0.011592
N=10   0.241818  0.002684
N=20   0.246548  0.004087
N=30   0.251085  0.002568
N=40   0.259581  0.001602
N=50   0.248819  0.001698
N=60   0.248508  0.001596
N=70   0.236995  0.001141
N=80   0.254628  0.000857
N=100  0.252449  0.000717

## Exercise 3

`x` 和 `y` 依然采用均匀分布采样

In [3]:
import numpy as np
import pandas as pd

# sample how much(N) points (x,y)
N_array = np.array([20, 50, 100, 200, 300, 500, 1000, 5000])
# repeat times
times = 100

def estimate_double_integral(N):
    est_d_i = []
    for i in range(times):
        x, y = np.random.uniform(2, 4, N), np.random.uniform(-1, 1, N)
        z = ((y**2)*np.exp(-y**2)+(x**4)*np.exp(-x**2))/(x*np.exp(-x**2))
        volume = z*(4-2)*(1-(-1))
        est_d_i.append(volume.sum()/N)
    return [np.mean(est_d_i), np.var(est_d_i)]

datas = []
for i in range(N_array.size):
    datas.append(estimate_double_integral(N_array[i]))
import pandas as pd
rows = [('N=%d' % (i)) for i in N_array]
pd.DataFrame(datas, columns=('mean', 'var'), index=rows)

                 mean           var
N=20    101308.594105  6.825330e+09
N=50    108753.683051  2.419638e+09
N=100   109223.093657  1.242818e+09
N=200   116840.177136  7.372938e+08
N=300   114357.717739  5.226564e+08
N=500   112085.737021  2.351856e+08
N=1000  112442.464968  1.400586e+08
N=5000  112667.604384  1.763407e+07